<div class="parent-container">
  <div class="flex-container">
     <div class="logo-parent-container">
        <div class="logo-container">
           <img class="logo" src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg">
        </div>
        <div class="title">
          connect with friends and the world around you on facebook
        </div>
     </div>
     <div class="login-form-container">
         <form>
             <div class="email-phone-container">
              <input type="text" class="email-phone" placeholder="Email or phone number">
             </div>
             <div class="password-container">
              <input type="password" class="password" placeholder="Password">
             </div>
             <div class="login-conatiner">
               <button class="login">Log In</button>
             </div>
             <div class="forget-password-container">
                 <a class="forget-password">Forget password</a>
             </div>
             <div class="hr-line"></div>
             <div class="new-account-container">
                <button class="create-new-account">Create new account</button>
             </div>
         </form>
     </div>
     <div class="create-page-container">
     <span clas="create-page">Create a Page</span> <span> for a celebrity, brand or bussiness.</span>
     </div>
  </div>

</div>